// Buttons

button, .button { 	
	@include border-radius(2px);
	width: auto; 
	margin: 0; padding: 10px 20px 11px; 
	background: $baseYellow; 
	border: none;
	color: $white !important; 
	cursor: pointer; 
	display: inline-block; 	
	font: normal 14px $copyFont;
	text-align: center; 
	text-decoration: none; 

	&:hover, &:focus { 
		background: $baseYellow + 20; 
		color: $white;
	}

	&.gray { 
		background-color: $ash;
		&:hover, &:focus { background-color: $ash + 20; }
	}

	&.black {
		background-color: $darkGray;
		&:hover, &:focus { background-color: $darkGray + 20; }
	}
}

