// Base Rules

	* { 
		@include box-sizing(border-box); 

		&:focus {
			//outline: 1px solid $ash;
		}
	}
	
	html, body { 
		margin: 0; padding: 0; 
		background: $lightGray;
	}

	a { 
		@include transition(background, 0.1s);

		text-decoration: none;
		color: $ash; 

		&:hover { 
			color: $ash + 20; 
		}
	}

	a.white { color: $white; }

	img { vertical-align: middle; }

	.inner {
		@include row;
	}

	figcaption {
		padding: 10px;
	}

	table {
		width: 100%;
		border-collapse: collapse;
	
		thead {
			//@extend .borderBottom;
		}	
		tr:nth-child(even) {
			background: $grayHighlight;
		}
	}
	

