// Body styles

.main {
	@include row();

	.breadcrumb {
		//border-bottom: 1px solid $platinum;
		margin-top: 30px;
		a {
			text-transform: none;
			font-size: 0.9em;
			padding: 5px;
			color: $ash;
			&.active { color: $copy; }
		}
	}

	.content {
		@include clearfix;
		background-color: $grayHighlight;
		& > div {
			margin-top: 20px;
			padding: 20px; 
		}
	}

}


	// Imports
	@import 'partials/specific/homepage';
	@import 'partials/specific/pbmk';
	@import 'partials/specific/uppc';
	@import 'partials/specific/pinkForm';
