// Color Rules


$copy: #333;


// Brand
// $baseBlue: #131c21;
// $baseBlue2: #002943;
$sdpYellow: #f5cf1c;
$baseYellow: #f6b71e;
// $patBlue: #0076a3;
// $skyBlue: #044C74;
// $darkBlue: #04334D;

// Hots
$rust: #CE3A00;	
$orange: #ff7200;
$yellow: #fff799;
$yellowOrange: #f7941d;
$red: #B90611;

// Cools
$green: #03a838;
$yellowGreen: #0dd70d;

// Grays
$white: #fefefe;
$grayHighlight: #fafafa;
$lightGray: #eee;
$platinum: #e7e7e7;
$ash: #aaa;
$gray: #555;
$darkGray: #222;
$black: #111;

// Other Brand Colors
$facebookBlue: #4761A2;
$twitterBlue: #1F9BD3;
$googleGray: $gray;
$youtubeRed: #DC2B1B;
$cMagazineRed: #DC2B1B;
$pinterestRed: #CB2027;

// Buttons
