$width: 100%; /* total with of page */ 
$columns: 12; /* number of columns */ 
$col_margin: 5%; /* margin between columns */

/* math magic */ 
$col_width: ($width - ($col_margin * ($columns - 1))) / $columns; 
$col_total_width: $col_width + $col_margin;

/* create row div */ 
@mixin row() { 
	@include clearfix; 
	clear: both; 
	width: $width; 
	// padding-left: 10px; padding-right: 10px;
	margin: 0 auto;
}

/* create a column div */ 
@mixin col($n) { 
	@include span($n); 
	float: left; 
}

/* make an element span n columns */ 
@mixin span($n) { 
	width: ($n * $col_width) + (($n - 1) * $col_margin); 
	@if $n == $columns { margin-right: 0; } 
	@else { margin-right: $col_margin; } 
}


/* the last column in a row needs this */ 
@mixin last() { margin-right: 0; }

/* prepend n blank columns */ 
@mixin prepend($n) { 
	margin-left: $col_total_width * $n;
}

/* append n blank columns */ 
@mixin append($n) { 
	margin-right: $col_total_width * $n + $col_margin;
}

// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/
@mixin clearfix() {
	*zoom:1;

	&:before,
	&:after {
	    content: ".";    
		display: block;    
		height: 0;    
	  	overflow: hidden;	
	}
	&:after {
	    clear:both;
	}
}

// This is a hack for equal height columns. Until such time that we will no longer support IE8 and below, this will be here.
@mixin equalHeight() {
	padding-bottom: 500em !important;
	margin-bottom: -500em !important;
}