// Header styles

.siteHead {
	width: 100%;
	@include clearfix;
	margin-bottom: -118px;
	#brand {
	//@include opacity(0.7);
	//background-color: $darkGray;
	padding: 10px;
		& > * { @include opacity(1.0); }
		& > div {
			@include row();
			color: $sdpYellow;
		}
		.seal {
			margin-top: 1%;
			width: 350px;
			float: left;
		}
		// .name {
		// 	float: left;
		// 	margin-left: 20px;
		// 	p {
		// 		color: $white;
		// 		font-family: $baseSerif;
		// 		margin: 0;
		// 	}
		// 	.greekName {
		// 		font-size: 2em;
		// 		margin-top: 28px;
		// 		margin-bottom: 0;
		// 	}
		// 	.englishName {
		// 		font-size: 1.2em;
		// 	}
		// }
		// .iconseal {
		// 	float: left;
		// 	font-size: 7em;
		// 	color: $sdpYellow;	
		// }
		.social {
			float: right;
			font-size: 1.5em;
			margin-top: 30px;
			span { padding: 10px;}
		}
	}
	nav {
		//@include row();
		float: right;
		margin-top: 20px;
		margin-bottom: 3px;
		border-bottom: 1px solid $platinum;
		a {
			padding: 10px 20px 3px 20px;
			color: $white;
			&:hover, &:focus {
				border-bottom: 3px solid $platinum;
				color: $white + 20;
			}
			&.active, &:active { border-bottom: 3px solid $sdpYellow; }
		}
	}
}