// Typographic Rules

	//Font - Roboto
	@font-face {
		font-family: 'Roboto';
		src: url("http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic");
		-webkit-font-smoothing: antialiased;
	}

	@font-face {
		font-family: 'Book Antiqua';
		src:url('/fonts/book_antiqua.eot');
		src:url('/fonts/book_antiqua.eot?#iefix') format('embedded-opentype'),
			url('/fonts/book_antiqua.woff') format('woff'),
			url('/fonts/book_antiqua.ttf') format('truetype');
		font-weight: lighter;
		font-style: normal;
		-webkit-font-smoothing: antialiased;
	}


$baseFont: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
$baseSerif: "adobe-garamond-pro", 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
$copyFont: 'Roboto', Helvetica, Arial, sans-serif;

	body { 
		font-family: $copyFont; 
		font-size: 14px;
		color: $copy; 
		font-style: normal;
		font-weight: 300;
		line-height: 23px;
	}

	// ::selection {
	// 	background-color: $sdpYellow;
	// 	color: $white;
	// }

	// ::-moz-selection {
	// 	background-color: $sdpYellow;
	// 	color: $white;
	// }

	h1,h2,h3,h4,h5,h6 { 
		line-height: 1em;
		font-family: $baseFont; 
		font-weight: normal;
		color: $darkGray;
		margin: 0;
		font-weight: 100;
		// text-transform: uppercase;
	}

	h1 	{ font-size: 2.5em; }
	h2 	{ font-size: 2.1em; }
	h3 	{ font-size: 1.875em; }
	h4 	{ font-size: 1.25em; }
	h5 	{ font-size: 1.125em; }
	h6	{ font-size: 1em; }

	// Additional H6 styling
	h6 { 
		margin-bottom: 10px;
		border-bottom: 1px dotted $platinum;
		font-size: 1em; 
		text-transform: uppercase;
		text-align: left !important;
	}

	
	p {
		margin: 7px 0 25px 0;
		font-family: $copyFont;
		font-style: normal;
		font-weight: 300;
		line-height: 23px;

		&.intro {
			width: 90%;
			margin: 50px auto 30px auto;
			font-size: 1.3em;
			line-height: 1.5em;
			text-align: center;
		}

		&.small {
			font-size: 12px;
			font-weight: 400;
			line-height: 1.5em;
		}
	}


	blockquote {
		font-family: $baseFont;
		font-size: 2.3em;
		font-style: italic;
		text-indent: 0px;
		margin: 30px 40px 30px 0;
		text-transform: uppercase;
		line-height: 1.12em;
		letter-spacing: -0.05em;

		&:before { content: '\201C'; }
		&:after { content: '\201D'; }
	}

	// Navigation
	nav a {
		font-family: $baseFont; 
		text-transform: uppercase; 
	}

	// Smalls and captions
	small, figcaption, caption { 
		font-size: 0.75em; 
		font-weight: 400;
	}

	// Footnote
	.footnote {
		display: block;
		margin-bottom: 20px;
		line-height: 2em;
		color: $gray;
	}
